<h1>Confirma a Exclusão?</h1>
<button>Excluir</button>
<button>Cancelar</button>


<script>
    function ExcluirPlanoConta(id){
        window.location.href = "../PlanoConta/ExcluirPlanoConta/" + id;
    }
</script>