@{
    ViewData["Title"] = "Plano Contas";
}


<h3>Lista de Plano de Contas</h3>
<hr />

<button type="button" class="btn btn-block btn-primary" onclick="CriarPlanoConta()">Criar Plano de Conta</button>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Tipo</th>
        <th>Opções</th>
    </tr>
    @{
        foreach (var item in (List<PlanoContaModel>)ViewBag.Lista)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Descricao</td>
                <td>@item.Tipo</td>
                <td></td>
            </tr>
        }
    }
</table>

<script>
    function CriarPlanoConta(){
        window.location.href = "../PlanoConta/CriarPlanoConta";
    }
</script>